# Code owners — todo PR notifica e exige revisão de @fabiotreze

# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

- @fabiotreze
